*{
    padding: 0;
    margin: 0;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    height: 92px;
    align-items: center;
}
#nav-bar .logo{
    width: 139px;
    height: 60px;
    margin: 16px 0;
}
#nav-bar li{
    display: inline;
    gap: 32px;
    margin-right: 32px;
    cursor: pointer;
    font-size: 16px
}
.btn button{
    background-color: #30B868;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.btn button:hover{
    background-color: #1bce66;
}
#home{
    width: 1600px;
    height: 674px;
}
#home .home-info{
    position: relative;
    text-align: center;
    padding-top: 154px;

}
#home .bg-img{
    position: absolute;
}
#home .home-info #fast-p{
    background-color: white;
    width: 183px;
    height: 20px;
    color: #30B868;
    padding: 12px 8px;
    border-radius: 1000px;
}
#home .home-info b{
    display: block;
    margin-top: 16px;
    font-size: 72px;
}
#home .home-info #fast-header{
    color: white;
    opacity: 0.9;
}
#home .home-info #secend-header{
    color: #30B868;
    opacity: 0.9;
}
#home .home-info p{
    margin-top: 16px;
    color: white;
    margin-bottom: 32px;
}
#home .btn button img{
    vertical-align: middle;
}
#home .btn #secend-btn{
    background: transparent;
    border: 1px solid white;
    margin-left: 16px;
}
#home .btn #secend-btn:hover{
    background-color: #1bce66;
}
.secend-home{
    text-align: center;
}
.secend-home #notes{
    padding-top: 50px;
}
.secend-home #notes b{
    font-size: 48px;
}
.secend-home #notes p{
    font-size: 16px;
    color: #627382;
}
.secend-home #notes-chatagori{
    margin-top: 44px;
    margin-left: 120px;
    display: flex;
}
.secend-home #notes-chatagori .notes-section{
    width: 322px;
    height: 300px;
    padding: 24px;
    margin-right: 24px;
}
.secend-home #notes-chatagori .notes-section b{
    font-size: 24px;
    padding-bottom: 16px;
}
.secend-home #notes-chatagori .notes-section i{
    font-size: 60px;
    padding: 16px;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
}
.secend-home #notes-chatagori .notes-section p{
    font-size: 16px;
    color: #627382;
}
/* secend-brain-section */
#secend-brain{
    padding: 120px;
    display: flex;
}
#secend-brain .brain-info{
    padding: 101.5px 0;
    padding-left: 60px;
    
}
#secend-brain .brain-info #fast-p{
    font-size: 16px;
    color: #30B868;
    margin-bottom: 16px;
}
#secend-brain .brain-info #fast-b{
    font-size: 48px;
    margin-bottom: 16px;
}
#secend-brain .brain-info .secend-p{
    color: #627382;
    margin-bottom: 40px;
}
#secend-brain .brain-info li{
    list-style: none;
    margin-bottom: 16px;
}
#secend-brain .brain-info li img{
    vertical-align: middle;
}
#ready-to-clear{
    text-align: center;
    padding: 40px 80px;
}
#ready-to-clear .ready b{
    font-size: 40px;
}
#ready-to-clear .ready p{
    padding-top: 16px;
    color: #627382;
    padding-bottom: 24px;
}
#ready-to-clear .ready .btn button img{
    vertical-align: middle;
}
footer{
    position: absolute;
    width: 1600px;
    background-color: rgba(0, 25, 49, 1);
}
footer #footer-logo{
    display: flex;
    justify-content: space-between;
    margin: 120px 120px 80px 120px;
}
footer #footer-logo p, footer #footer-logo i{
    color: white;
}
footer #copyrite{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 30px;
    border-top: 1px solid #627382;
}